{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        
        <link rel="stylesheet" href="{% static 'vistas/globals.css' %}">
        <link rel="stylesheet" href="{% static 'vistas/styleCliente.css' %}">
        <script src="{% static 'js/scriptsClientes.js' %}"></script>
        <script src="{% static 'js/scriptsGlobal.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        

        <title>Clientes</title>
    </head>
    <body>
        <header>
            <div class="barra-superior">
                <button class="backButton" onclick="irAHome()"></button>
                <h1>Punto de Venta</h1>
                <div class="logotipo"></div>
                <div class="barra-busqueda">
                    <input type="text" class="barra-busqueda-input" placeholder="Buscar cliente..." />
                </div>
            </div>
        </header>
        <div class="espacio-botones">
            <button class="button" id="verClientes" onclick="cargarClientes()">Ver Clientes</button>
            <button class="button" id="crearCliente" onclick="crearCliente()">Crear Cliente</button>
        </div>
        <div class="clientes-container" id="clientes-container"></div>
    
        {% if mostrar_modal %}
        <div id="myModal" class="modal">

            <div class="modal-content">
              <span class="close">&times;</span>
              <p>¿Cliente agregado</p>
            </div>
          
          </div>
        {% endif %}
    </body>
</html>