{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'vistas/styleHome.css' %}">
        <link rel="stylesheet" href="{% static 'vistas/globals.css' %}">
        <script src="{% static 'js/scriptsGlobal.js' %}"></script>
        <title>Clientes</title>
    </head>
    <body>
        <header>
            <div class="barra-superior">
                <h1>Punto de Venta</h1>
                <div class="logotipo"></div>
                <div class="barra-busqueda">
                    <input type="text" class="barra-busqueda-input" placeholder="Buscar cliente..." />
                </div>
                <button class="backButton" onclick="irAHome()"><-</button>
            </div>
        </header>
    </body>
</html>