{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'vistas/globals.css' %}">
        <link rel="stylesheet" href="{% static 'vistas/styleProducto.css' %}">
        <script src="{% static 'js/scriptsGlobal.js' %}"></script>
        <script src="{% static 'js/scriptProductos.js' %}"></script>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <title>Clientes</title>
    </head>
    <body>
        <header>
            <div class="barra-superior">
                <h1>Punto de Venta</h1>
                <div class="logotipo"></div>
                <div class="barra-busqueda">
                    <input type="text" class="barra-busqueda-input" placeholder="Buscar cliente..." />
                </div>
                <button class="backButton" onclick="irAHome()"></button>
            </div>
        </header>
        <div class="espacio">
            <button class="button" id="verProductos" onclick="cargarProductos()">Ver Productos</button>
            <button class="button" id="crearProductos" onclick="crearProducto()">Agregar Producto</button>
            <button class="button" id="buscarProducto" onclick="">Buscar Producto</button>
        </div>
        <div class="producto-container" id="producto-container"></div>
    
    </body>
</html>